<%= form_for(team) do |f| %>
  <% if team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(team.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :team_name, autofocus: true, class: "form-control margin-bottom-md", placeholder: "Group Name" %>
  <%= f.date_field :start_date, class: "form-control margin-bottom-md", placeholder: "Effective Start Date" %>
  <%= f.date_field :end_date, placeholder: "Effective End Date",  class: "form-control margin-bottom-md" %>

  <%= f.check_box :is_hidden %>
  <%= f.label :is_hidden, "Hide Group?", { class: "checkbox-inline" } %>

  <br>
  <br>

  <%= f.submit "save", class: "btn btn-primary btn-center" %>
<% end %>
