<% permission = current_user.is_admin? || current_user.is_officer? || (current_user.id == current_user.teams.first.try(:team_lead)) %>
<div class="lead">Team Performance</div>

<table class="table table-striped table-hover table-bordered datatable">
  <thead>
  <tr>
    <th>team</th>
    <th>month</th>
    <th class="text-center">ranking</th>
    <th class="text-center">current month average</th>
    <th class="text-center">6 month average</th>
    <th class="text-center">ytd average</th>
  </tr>
  </thead>

  <tbody>
  <% if teams.any? %>
    <% teams.each do |one_team| %>
      <% rate_period = month.try(:to_date) || (Date.today - 1.month) %>
      <tr>
        <% if permission %>
          <td><%= link_to one_team.team_name, one_team %></td>
        <% else %>
          <td><%= one_team.team_name %></td>
        <% end %>
        <td><%= rate_period.strftime("%B %Y") %></td>
        <td class="text-center"><%= team_ranking(one_team.id, rate_period) %></td>
        <td class="text-center"><%= team_averages(one_team.id, rate_period, rate_period) %></td>
        <td class="text-center"><%= team_averages(one_team.id, rate_period, (rate_period - 6.months)) %></td>
        <td class="text-center"><%= team_averages(one_team.id, rate_period, (rate_period.beginning_of_year)) %></td>
      </tr>
    <% end%>
  <% else %>
    <tr>
      <td colspan="15"><em>There are no results to display at this time.</em></td>
    </tr>
  <% end %>
  </tbody>
</table>