<% permission = current_user.is_admin? || current_user.is_officer? || (current_user.id == current_user.current_team.try(:team_lead)) %>
<div class="lead">Group Performance</div>

<table class="table table-striped table-hover table-bordered datatable">
  <thead>
  <tr>
    <th>Group</th>
    <th>Month</th>
    <th class="text-center">Ranking</th>
    <th class="text-center"><strong>Group Adjusted Monthly Average</strong></th>
    <th class="text-center">Group Monthly Average</th>
    <!--<th class="text-center">6 Month Average</th>-->
    <!--<th class="text-center">First 6 Months Average</th>-->
    <!--<th class="text-center">Last 6 Months Average</th>-->
    <th class="text-center">YTD Group Adjusted Average</th>
  </tr>
  </thead>

  <% jan = Date.today.beginning_of_year %>
  <% june = jan + 6.months %>
  <% july = jan + 7.months %>
  <% dec = Date.today.end_of_year %>
  <tbody>
  <% if teams.any? %>
    <% teams.each do |one_team| %>
      <% rate_periods = month.try(:to_date) || current_month %>
      <tr>
        <% if permission %>
          <td class="bold"><%= link_to one_team.team_name, one_team %></td>
        <% else %>
          <td class="bold"><%= one_team.team_name %></td>
        <% end %>
        <td class="bold"><%= rate_periods.strftime("%B %Y") %></td>
        <td class="text-center"><%= team_ranking(one_team.id, rate_periods) %></td>
        <td class="text-center"><strong><%= team_adjusted_averages(one_team.id, rate_periods) %></strong></td>
        <td class="text-center"><%= team_averages(one_team.id, rate_periods, rate_periods) %></td>
        <!--<td class="text-center"><%#= team_averages(one_team.id, rate_periods, (rate_periods - 6.months)) %></td>-->

        <!--<td class="text-center"><%#= team_averages(one_team.id, june, jan) %></td>-->

        <!--<td class="text-center"><%#= team_averages(one_team.id, dec, july) %></td>-->

        <td class="text-center"><%= team_adjusted_averages_by_range(one_team.id, rate_periods, (rate_periods.beginning_of_year)) %></td>
      </tr>
    <% end%>
  <% else %>
    <tr>
      <td colspan="15"><em>There are no results to display at this time.</em></td>
    </tr>
  <% end %>
  </tbody>
</table>