<% month = params[:rate_period] %>
<div class="row">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1">
    <h1 class="margin-bottom-lg">Group Reviews</h1>

    <div class="row margin-bottom-lg">
      <div class="col-xs-12">
        <%= select_tag :rate_period, options_for_select(options_for_rate_period, month.blank? ? current_month : month.to_date.end_of_month), include_blank: "Select Rate Period", class: "form-control", id: "rate_period" %>
      </div>
    </div>

    <table class="table table-striped table-hover table-bordered datatable">
      <thead>
      <tr>
        <th>Group</th>
        <th class="text-center">Rate Period</th>
        <th class="text-center no-sort">Actions</th>
      </tr>
      </thead>

      <tbody>
      <% rate_period = month.nil? ? current_month : month.try(:to_date) %>
      <% rate_period_reviews = @user_reviews.where(rate_period: rate_period) %>
      <% if rate_period_reviews.any? %>
        <% @team_list.each do |one_team| %>
          <% team_user_ids = EmployeeTeam.where(team_id: one_team.id).pluck(:user_id) %>
          <% if !((rate_period_reviews.pluck(:user_id).uniq) & team_user_ids).empty? %>
            <tr>
              <td><%= link_to one_team.team_name, one_team %></td>
              <td class="text-center"><%= rate_period.strftime("%B %Y") %></td>

              <td class="text-center">
                <%# if current_user.is_admin || current_user.is_officer? %>
                  <%= link_to edit_team_rating_path(one_team.employee_teams.first.user_id, rate_period: rate_period, reviews: (rate_period_reviews.where(user_id: team_user_ids).pluck(:id)) ) do %>
                    <i class="fa fa-edit text-primary"></i> Edit Group Review
                  <% end %>
                <%# end %>
              </td>
            </tr>
          <% end %>
        <% end %>
      <% else %>
        <tr>
          <% wording = current_user.is_admin ? 'to view' : 'needed' %>
          <td colspan="15"><em>There are no response notes <%= wording %> for this month.</em></td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <%#= paginate @user_reviews, theme: "twitter-bootstrap-3" %>
  </div>
</div>

<script>
  $(function(){
    $('select#rate_period').on('change', function () {
      var url = $(this).val();
      if (url) {
        window.location = "?rate_period="+url.split('%')[0];
      }
      return false;
    });
  });
</script>