<% month = params[:rate_period] || current_month %>
<% permission = current_user.is_admin? || current_user.is_officer? || (current_user.id == current_user.teams.first.try(:team_lead)) %>
<div class="row">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1">
    <div class="row">
      <div class="col-xs-6">
        <h2 class="margin-bottom-lg"><%= @team.team_name %></h2>
      </div>
      <div class="col-xs-6">
        <% if current_user.is_admin || current_user.is_officer? %>
          <%= link_to new_team_rating_path, class: "text-primary pull-right margin-top-sm" do %>
            <i class="fa fa-plus"></i> New Group Review
          <% end %>
        <% end %>
        <br>
        <br>
        <% if permission %>
          <%= link_to edit_team_reviews_path, class: "text-info pull-right" do %>
            <i class="fa fa-edit"></i> Group Reviews
          <% end %>
        <% end %>

      </div>
    </div>

    <div class="row margin-bottom-lg">
      <div class="col-xs-6">
        <%#= review_chart_results(@team_reviews) %>
        <!--<hr>-->
        <div class="lead">Group Average Performance</div>
        <%= line_chart review_chart_results(@team_reviews) %>
      </div>
      <div class="col-xs-6">
        <%#= team_review_other_teams_chart_results %>
        <!--<hr>-->
        <div class="lead">Group Competitive Performance</div>
        <%= line_chart team_review_other_teams_chart_results %>
      </div>
    </div>

    <hr class="margin-bottom-lg">

    <div class="row margin-bottom-lg">
      <div class="col-xs-12">
        <%= select_tag :rate_period, options_for_select(options_for_rate_period, month), include_blank: "Select Rate Period", class: "form-control", id: "rate_period" %>
      </div>
    </div>

    <%= render "teams/team_yearly_averages", month: month, teams: @team_list %>


    <% if permission %>
      <hr class="margin-top-lg">
      <div class="lead"><%= @team.team_name %> Performance</div>
      <table class="table table-striped table-hover table-bordered datatable">
        <thead>
        <tr>
          <th>Employee</th>
          <th>Month</th>
          <th class="text-center">Adjusted Average</th>
          <th class="text-center">Average</th>
          <!--<th class="text-center">average</th>-->
          <% headers = ReviewItem.where(is_weekly: false, is_monthly_bonus: false).order(:name).pluck(:display_name, :id) %>
          <% headers.each do |criteria| %>
            <th class="text-center"><%= criteria[0] %></th>
          <% end %>
          <th class="text-center no-sort">Bonuses</th>
        </tr>
        </thead>

        <tbody>
          <% teammates = teammates(@team.id) %>
          <% if teammates.any? %>
            <% teammates.each do |one_teammember| %>
              <% rate_period = month.try(:to_date) || (current_month) %>
              <% reviews = UserReview.where(rate_period: rate_period, user_id: one_teammember.id, team_id: @team.id) %>
              <%# reviews = one_teammember.user_reviews.where(rate_period: rate_period)%>

              <% average = reviews.pluck(:rating) %>
              <% average.reject! {|x| x == nil} %>
              <% average.reject! {|x| x == 0} %>
              <% bonus_totals = one_teammember.bonus_totals(one_teammember.user_reviews, rate_period, @team.id) %>
              <% if reviews.any? %>
                <tr>
                  <% if permission %>
                    <td class="bold"><%= link_to one_teammember.full_name, one_teammember %></td>
                  <% else %>
                    <td class="bold"><%= one_teammember.full_name %></td>
                  <% end %>
                  <td class="bold"><%= rate_period.strftime("%B %Y") %></td>
                  <% unless average.blank? %>
                    <td class="text-center"><%= ((average.reduce(:+) / average.size.to_f) + bonus_totals).round(2) %></td>
                    <td class="text-center"><%= (average.reduce(:+) / average.size.to_f).round(2) %></td>
                  <% else %>
                    <td></td>
                    <td></td>
                  <% end %>
                  <!--<td class="text-center"><%#= (average.reduce(:+) / average.size.to_f).round(2) %></td>-->
                  <% one_teammember.team_user_review_rows(headers, rate_period, @team.id).each do |one_row| %>
                    <td class="text-center">
                      <div data-toggle="tooltip" data-html="true" title="<%= one_row[1].second[:notes] %>"><%= one_row[1].first[:rating]%>
                      </div>
                    </td>
                  <% end %>
                  <td class="text-center">
                    <% if bonus_totals > 0 %>
                      <%= bonus_totals %>
                      <!--<i class="fa fa-trophy text-primary" data-toggle="tooltip" title="Hooray!"></i>-->
                      <!--<i class="fa fa-shield text-info"></i>-->
                      <!--<i class="fa fa-certificate text-success"></i>-->
                      <!--<i class="fa fa-star text-warning"></i>-->
                    <% end %>
                  </td>
                </tr>
              <% end %>
            <% end%>
          <% else %>
            <tr>
              <td colspan="15"><em>There are no group members to display for this group.</em></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>

    <hr class="margin-top-lg">

    <div class="lead">Group Averages per Month</div>
    <table class="table table-striped table-hover table-bordered datatable">
      <thead>
      <tr>
        <th>Month</th>
        <th class="text-center">Average</th>
        <% headers2 = ReviewItem.where(is_weekly: false, is_monthly_bonus: false).order(:name).pluck(:display_name, :id) %>
        <% headers2.each do |criteria| %>
          <th class="text-center"><%= criteria[0] %></th>
        <% end %>
        <th class="text-center no-sort">Bonuses</th>
      </tr>
      </thead>

      <tbody>
      <%# @team_reviews.each do |team_review| %>
      <%# headers.each do |criteria| %>
      <%# review = @team_reviews.where(review_criteria_id: criteria[1]).first %>
      <% @rate_periods.each do |one_month| %>
        <% reviews =  @team_reviews.where(rate_period: one_month.to_datetime.end_of_month).where.not(rating: nil) %>
        <% average = reviews.pluck(:rating) %>
        <% team_review = reviews.first %>
        <% bonus = bonus_totals(reviews) %>
        <%#= team_review.inspect %>
        <% unless team_review.blank? %>
          <tr>
            <td class="bold"><%= one_month %></td>
            <td class="text-center"><%= (average.reduce(:+) / average.size.to_f).round(2) %></td>
            <% team_review.team_review_rows(headers2, @team.id, one_month.to_datetime.end_of_month).each do |one_row| %>
              <td class="text-center"><%= one_row[1].first %></td>
            <% end %>
            <td class="text-center">
              <% if !bonus.blank? %>
                <%= bonus.sum %>
                <!--<i class="fa fa-trophy text-primary" data-toggle="tooltip" title="Hooray!"></i>-->
                <!--<i class="fa fa-shield text-info"></i>-->
                <!--<i class="fa fa-certificate text-success"></i>-->
                <!--<i class="fa fa-star text-warning"></i>-->
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end%>
      <%# end %>
      </tbody>
    </table>

    <%#= link_to 'Edit', edit_team_path(@team) %>
    <!--|-->
    <%#= link_to 'Back', teams_path %>
  </div>
</div>

<script>
  $(function(){
    $('select#rate_period').on('change', function () {
      var url = $(this).val();
      if (url) {
        window.location = "?rate_period="+url.split('%')[0];
      }
      return false;
    });
  });
</script>