<%= form_for(review_criterium) do |f| %>
  <% if review_criterium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review_criterium.errors.count, "error") %> prohibited this review_criterium from being saved:</h2>

      <ul>
      <% review_criterium.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :scale_min %>
    <%= f.number_field :scale_min %>
  </div>

  <div class="field">
    <%= f.label :scale_max %>
    <%= f.number_field :scale_max %>
  </div>

  <div class="field">
    <%= f.label :start_date %>
    <%= f.datetime_select :start_date %>
  </div>

  <div class="field">
    <%= f.label :end_date %>
    <%= f.datetime_select :end_date %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
