<%= form_for(review_criteria) do |f| %>
  <% if review_criteria.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review_criteria.errors.count, "error") %> prohibited this review_criteria from being saved:</h2>

      <ul>
      <% review_criteria.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :name, autofocus: true, class: "form-control margin-bottom-md", placeholder: "criteria label" %>
  <%= f.text_field :short_name, autofocus: true, class: "form-control margin-bottom-md", placeholder: "display name" %>
  <%= f.text_area :evaluation_criteria, autofocus: true, class: "form-control margin-bottom-md", placeholder: "evaluation criteria" %>
  <%= f.number_field :scale_min, class: "form-control margin-bottom-md", placeholder: "scale low end (min)" %>
  <%= f.number_field :scale_max, class: "form-control margin-bottom-md", placeholder: "scale high end (max)" %>
  <%= f.text_field :start_date, class: "month_datepicker form-control margin-bottom-md", placeholder: "effective start date" %>
  <%= f.text_field :end_date, class: "month_datepicker form-control margin-bottom-md", placeholder: "effective end date" %>

  <%= f.submit "save", class: "btn btn-primary btn-center" %>

<% end %>