<h1>review criteria</h1>

<table class="table table-striped table-hover table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Display Name</th>
      <th>Scale</th>
      <th>Start date</th>
      <th>End date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @review_criteria.each do |review_criteria| %>
      <tr>
        <td><%= review_criteria.name %></td>
        <td><%= review_criteria.short_name %></td>
        <td><%= review_criteria.scale %></td>
        <td><%= review_criteria.start_date.strftime("%B %Y") %></td>
        <td><%= review_criteria.end_date.try(:strftime, "%B %Y") %></td>
        <td><%= link_to 'Show', review_criteria %></td>
        <td><%= link_to 'Edit', edit_review_criterium_path(review_criteria) %></td>
        <td><%= link_to 'Destroy', review_criteria, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to new_review_criterium_path , class: "text-primary" do %>
  <i class="fa fa-plus"></i> new review criterium
<% end %>