<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @review_criterium.name %>
</p>

<p>
  <strong>Scale:</strong>
  <%= @review_criterium.scale %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @review_criterium.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @review_criterium.end_date %>
</p>

<%= link_to 'Edit', edit_review_criterium_path(@review_criterium) %> |
<%= link_to 'Back', review_criteria_path %>
