<p>
  <strong>Name:</strong>
  <%= @review_criteria.name %>
</p>

<p>
  <strong>Scale:</strong>
  <%= @review_criteria.scale %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @review_criteria.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @review_criteria.end_date %>
</p>

<%= link_to 'Edit', edit_review_criterium_path(@review_criteria) %> |
<%= link_to 'Back', review_criteria_path %>
