<%= form_for(employee_team) do |f| %>
  <% if employee_team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee_team.errors.count, "error") %> prohibited this employee_team from being saved:</h2>

      <ul>
      <% employee_team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.collection_select :user_id, User.without_admin, :id, :full_name, { include_blank: "Select User" }, class: "form-control margin-bottom-md", autofocus: true %>
    <%= f.collection_select :team_id, Team.all.order(:team_name), :id, :team_name, { include_blank: "Select Group" }, class: "form-control margin-bottom-md" %>

    <%= f.check_box :team_lead, { class: "" }, true, false %>
    <%= f.label :team_lead, "Group Lead?", { class: "checkbox-inline" } %>

    <br>
    <br>

    <%= f.label :start_date, "Effective Start Date" %>
    <br>
    <%= f.date_select :start_date, order: [:month, :day, :year] %>

    <br>
    <br>

    <% if current_user.id == 1 || current_user.is_admin %>
      <%= f.label :end_date, "End Date" %>
      <br>
      <%= f.date_select :end_date, order: [:month, :day, :year], prompt: { day: 'Select day', month: 'Select month', year: 'Select year' } %>
    <% end %>

    <%= f.submit "save", class: "btn btn-primary btn-center" %>

<% end %>
