<% permission = (current_user.is_admin) || (current_user.is_officer) %>

<%= form_for @user, url: update_all_path do |one_user|  %>
  <%= one_user.hidden_field :id, value: @user.id %>

  <div class="row">
    <div class="col-xs-12">
      <h4 class="text-primary"><%= @user.full_name + ", " + params[:rate_period].to_date.strftime("%B %Y")  %></h4>

      <%#= one_review.select :id, @users.collect { |u| [ u.full_name, u.id ] }, { include_blank: "employee name", selected: @user_reviews.first.user_id }, class: "form-control margin-bottom-sm" %>

      <%#= select_tag :rate_period, options_for_select(options_for_rate_period), include_blank: "select rate period", selected: @user_reviews.first.rate_period, class: "form-control margin-bottom-md", id: "rate_period" %>
    </div>
  </div>

  <hr class="margin-none">

  <%# @occurrences_submitted.each do |occurrence| %>
    <%#= one_request.fields_for :occurrences, occurrence do |occurrence_form| %>

  <%# @user.each do |one_user| %>
    <% if @user_reviews.any? %>

      <% @user_reviews.each do |one_review| %>
        <% bonus = true if (one_review.review_item.is_weekly?) || (one_review.review_item.is_monthly_bonus?) %>
        <% review_items_by_role = one_review.try(:review_item_by_role) %>
        <% if review_items_by_role.nil? %>
          <% review_items_by_role = ReviewItemsByRole.where(form_role_id: one_review.user.try(:form_role_id), review_item_id: one_review.review_item_id).first %>
        <% end %>
        <% name = "#{one_review.review_item.display_name}: #{review_items_by_role.try(:short_label)}" %>
        <%= fields_for "user_reviews[]", one_review do |review_form| %>
          <div class="row margin-top-md">
            <div class="col-xs-12">
              <% if !bonus  || permission %>
                <h4 class="text-primary"><%= name || one_review.review_item.display_name %></h4>
                <p><%= review_items_by_role.try(:evaluation_criteria) || one_review.review_item.evaluation_criteria %></p>
              <% end %>
            </div>
          </div>

          <div class="row">
            <%# raise %>
            <% if !bonus %>
              <div class="col-xs-12 col-sm-6">
                <%= review_form.text_area :pros, class: "form-control margin-bottom-md", placeholder: "pros" %>
              </div>
              <div class="col-xs-12 col-sm-6">
                <%= review_form.text_area :cons, class: "form-control margin-bottom-md", placeholder: "cons" %>
              </div>
              <div class="col-xs-12">
                <% if permission %>
                  <%= review_form.select :rating, ((one_review.review_item.scale_min..one_review.review_item.scale_max).step(0.5).to_set), { include_blank: "#{ one_review.review_item.is_weekly? ? 'how many weekly awards this month' : 'rating' }" }, class: "form-control margin-bottom-sm", required: true  %>
                <% end %>
              </div>
            <% end %>
            <%= review_form.hidden_field :rated_by_user_id, value: current_user.id %>
          </div>
          <% if permission %>

            <div class="row">
              <div class="col-xs-12">
                <% if one_review.review_item.is_monthly_bonus? %>
                  <%= review_form.check_box :checked, { class: "" }, true, false %>
                  <%= review_form.label :checked, "awarded this month?", { class: "checkbox-inline" } %>
                <% elsif one_review.review_item.is_weekly? %>
                  <%= review_form.select :multiplier, (one_review.review_item.scale_min..one_review.review_item.scale_max), { include_blank: "how many weekly awards this month" }, class: "form-control margin-bottom-sm", required: true  %>
                <% end %>

              </div>
            </div>
          <% end %>
        <% end %>




      <% end %>
    <% else %>
      <p>There are no reviews available for this employee during this period.</p>
    <% end %>

    <hr>





  <%# end%>

  <div class="row">
    <div class="col-xs-12">
      <%= submit_tag "Save", class: "btn btn-primary btn-center" %>
    </div>
  </div>

<% end %>

