<%= form_for @user, url: update_all_path do |one_user|  %>
  <%= one_user.hidden_field :id, value: @user.id %>

  <div class="row">
    <div class="col-xs-12">
      <h4 class="text-primary"><%= @user.full_name + ", " + params[:rate_period].to_date.strftime("%B %Y")  %></h4>

      <%#= one_review.select :id, @users.collect { |u| [ u.full_name, u.id ] }, { include_blank: "employee name", selected: @user_reviews.first.user_id }, class: "form-control margin-bottom-sm" %>

      <%#= select_tag :rate_period, options_for_select(options_for_rate_period), include_blank: "select rate period", selected: @user_reviews.first.rate_period, class: "form-control margin-bottom-md", id: "rate_period" %>
    </div>
  </div>

  <hr class="margin-none">

  <%# @occurrences_submitted.each do |occurrence| %>
    <%#= one_request.fields_for :occurrences, occurrence do |occurrence_form| %>

  <%# @user.each do |one_user| %>
    <% if @user_reviews.any? %>

      <% @user_reviews.each do |one_review| %>
        <%= fields_for "user_reviews[]", one_review do |review_form| %>
          <div class="row margin-top-md">
            <div class="col-xs-12">
              <%#= review_form.select :rate_period, options_for_rate_period, { prompt: 'select rate period' }, class: "form-control margin-bottom-md" %>
              <h4 class="text-primary"><%= one_review.review_item.name %></h4>
              <p><%= one_review.review_item.evaluation_criteria %></p>
              <%#= review_form.hidden_field :review_item_id, value: one_review.review_item.id %>
              <%#= review_form.hidden_field :rate_period, class: "rate_period" %>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <%= review_form.text_area :pros, class: "form-control margin-bottom-md", placeholder: "pros", disabled: true %>
            </div>
            <div class="col-xs-12 col-sm-6">
              <%= review_form.text_area :cons, class: "form-control margin-bottom-md", placeholder: "cons", disabled: true %>
            </div>
            <div class="col-xs-12">
              <% if current_user.is_admin || current_user.is_officer %>
                <%= review_form.select :rating, (one_review.review_item.scale_min..one_review.review_item.scale_max), { include_blank: "rating"}, class: "form-control margin-bottom-sm", required: true  %>
              <% end %>


              <%#= review_form.number_field :rating, class: "form-control margin-bottom-md", placeholder: "rating"%>
              <%= review_form.hidden_field :rated_by_user_id, value: current_user.id %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <p>There are no reviews available for this employee during this period.</p>
    <% end %>

    <hr>

  <%# end%>

  <div class="row">
    <div class="col-xs-12">
      <%= submit_tag "save", class: "btn btn-primary btn-center" %>
    </div>
  </div>

<% end %>

