<% team = @user.first.try(:teams).first %>
<% if team.blank? %>
  <p>There are no team ratings</p>
<% else %>
  <%= form_for :user, url: update_all_path, method: :put do  %>

    <div class="row">
      <div class="col-xs-12">
        <h4 class="text-primary"><%= team.try(:team_name) + ", " + params[:rate_period].to_date.strftime("%B %Y")  %></h4>
        <%#= one_review.select :id, @users.collect { |u| [ u.full_name, u.id ] }, { include_blank: "employee name", selected: @user_reviews.first.user_id }, class: "form-control margin-bottom-sm" %>

        <%#= select_tag :rate_period, options_for_select(options_for_rate_period), include_blank: "select rate period", selected: @user_reviews.first.rate_period, class: "form-control margin-bottom-md", id: "rate_period" %>
      </div>
    </div>

    <hr>


    <% @user.each do |user| %>
      <% if @user_reviews.any? %>

        <% @user_reviews.each do |one_review| %>
          <%= fields_for :user_reviews, one_review do |review_form| %>
            <div class="row margin-top-md">
              <div class="col-xs-12">
                <%#= review_form.select :rate_period, options_for_rate_period, { prompt: 'select rate period' }, class: "form-control margin-bottom-md" %>
                <h4 class="text-primary"><%= one_review.review_item.name %></h4>
                <p><%= one_review.review_item.evaluation_criteria %></p>
                <%#= review_form.hidden_field :review_item_id, value: one_review.review_item.id %>
                <%#= review_form.hidden_field :rate_period, class: "rate_period" %>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12 col-sm-6">
                <%= review_form.text_area :pros, class: "form-control margin-bottom-md", placeholder: "pros"%>
              </div>
              <div class="col-xs-12 col-sm-6">
                <%= review_form.text_area :cons, class: "form-control margin-bottom-md", placeholder: "cons"%>
              </div>
              <div class="col-xs-12">
                <% if current_user.is_admin %>
                  <%= review_form.select :rating, (one_review.review_item.scale_min..one_review.review_item.scale_max), { include_blank: "rating" }, class: "form-control margin-bottom-sm" %>
                <% end %>


                <%#= review_form.number_field :rating, class: "form-control margin-bottom-md", placeholder: "rating"%>
                <%= review_form.hidden_field :rated_by_user_id, value: current_user.id %>
              </div>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <p>There are no reviews available for this employee during this period.</p>
      <% end %>

      <hr>

    <% end%>

    <div class="row">
      <div class="col-xs-12">
        <%= submit_tag "save", class: "btn btn-primary btn-center" %>
      </div>
    </div>

  <% end %>

<% end %>


<% if current_user.teams.first.try(:team_lead) %>
  <div class="row">
    <div class="col-xs-12">
      <%= text_area_tag "user_review[response_notes]", "", placeholder: "response notes", class: "form-control margin-bottom-md" %>
    </div>
  </div>
<% end %>