<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :first_name, autofocus: true, class: "form-control margin-bottom-md", placeholder: "first name"%>
  <%= f.text_field :last_name, class: "form-control margin-bottom-md", placeholder: "last name"%>
  <%= f.email_field :email, class: "form-control margin-bottom-md", placeholder: "email"%>
  <% if current_user.is_admin %>
    <%= f.password_field :password, class: "form-control margin-bottom-md", placeholder: "password"%>
    <%= f.password_field :password_confirmation, class: "form-control margin-bottom-md", placeholder: "confirm password"%>
  <% end %>

  <%= f.text_field :title, class: "form-control margin-bottom-md", placeholder: "employee title"%>

  <%#= f.select(:title, [['employee', 'employee'], ['team lead', 'team lead'], ['officer', 'officer']], {}, class: "form-control margin-bottom-md", placeholder: "title" )%>

  <%= f.submit "save", class: "btn btn-primary btn-center" %>

<% end %>