<% form_role = @user.first.form_role_id %>

<%= form_tag employee_rating_path do %>

  <div class="row">
    <div class="col-xs-12">
      <%= select_tag :id, options_for_select( @users.all.collect { |u| [ u.full_name, u.id ] }, params[:id]), include_blank: "employee name", class: "form-control margin-bottom-sm", required: true %>

      <% if form_role.nil? %>
        <%= select_tag :form_role_id, options_for_select( FormRole.all.collect { |fr| [ fr.role, fr.id ] }, @user.first.form_role_id), include_blank: "select form type", class: "form-control margin-bottom-sm", id: "form_role", required: true %>
      <% end %>

      <%= select_tag :rate_period, options_for_select(options_for_rate_period, Date.today.end_of_month), include_blank: "select rate period", class: "form-control margin-bottom-md", id: "rate_period", required: true %>


    </div>
  </div>

  <hr>

  <% if form_role.nil? %>
    <div class="hidden">
  <% end %>
    <% @user.each do |one_user| %>
      <% @review_items_by_role.each_with_index do |review_item_by_role, i| %>
        <%= fields_for "user_reviews[]", one_user do |review_form| %>
          <div class="row">
            <div class="col-xs-12">
              <%#= review_form.select :rate_period, options_for_rate_period, { prompt: 'select rate period' }, class: "form-control margin-bottom-md" %>
              <h4 class="text-primary"><%= "#{review_item_by_role.review_item.display_name}: #{review_item_by_role.short_label}" %></h4>
              <p><%= review_item_by_role.evaluation_criteria %></p>
              <%= hidden_field_tag "user_reviews[#{i}][review_items_by_role_id]", review_item_by_role.id %>
              <%= hidden_field_tag "user_reviews[#{i}][review_item_id]", review_item_by_role.review_item.id %>
              <%= hidden_field_tag "user_reviews[#{i}][rate_period]", Date.today.end_of_month, class: "rate_period" %>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <%= text_area_tag "user_reviews[#{i}][pros]", '', class: "form-control margin-bottom-md", placeholder: "pros", required: true %>
            </div>
            <div class="col-xs-12 col-sm-6">
              <%= text_area_tag "user_reviews[#{i}][cons]", '', class: "form-control margin-bottom-md", placeholder: "cons", required: true %>
            </div>
            <div class="col-xs-12">
              <% if current_user.is_admin || current_user.is_officer? %>
                <%= select_tag "user_reviews[#{i}][rating]", options_for_select(review_item_by_role.review_item.scale_min..review_item_by_role.review_item.scale_max), include_blank: "rating", class: "form-control margin-bottom-md", id: "rate_period" %>
              <% end %>

              <%= hidden_field_tag "user_reviews[#{i}][rated_by_user_id]", current_user.id %>

            </div>
          </div>
        <% end%>
        <hr>
      <% end %>
    <% end %>


      <div class="row">
        <div class="col-xs-12">
          <%= submit_tag "save", class: "btn btn-primary btn-center" %>
        </div>
      </div>
  <% if form_role.nil? %>
    </div>
  <% end %>

<% end %>

<script>
  var id = <%=@user.first.id%>;
  $( document ).ready(function() {
    $('#rate_period').on('change', function () {
      var period = this.value;
      $(".rate_period").each(function () {
        this.value = period;
      });
    });
    $('select#id').on('change', function () {
      var url = $(this).val();
      if (url) {
        window.location = url;
      }
      return false;
    });
    $('select#form_role').on('change', function () {
      return $.ajax({
        type: "PUT",
        url: "/users/"+id,
        data: {
          user: {
            form_role_id: $(this).val()
          }
        },
        success: function(data) {
          return false;
        },
        error: function(data) {
          return false;
        }
      });
//      $('.hidden').removeClass('hidden');
//      window.location.reload();
    });
  });
</script>
