<div class="row">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1">
    <h1 class="margin-bottom-lg">employees</h1>

    <table class="table table-striped table-hover table-bordered datatable">
      <thead>
        <tr>
          <th>name</th>
          <th>team</th>
          <th>email</th>
          <th>title</th>
          <%# if current_user.id == current_user.teams.first.try(:team_lead) %>
            <th class="text-center">review</th>
          <%# end %>
          <% if current_user.is_admin || current_user.is_officer? %>
            <th class="text-center no-sort">actions</th>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <% if @users.any? %>
          <% @users.each do |user| %>
            <tr>
              <td><%= link_to user.full_name, user %></td>
              <td><%= user.teams.blank? ? '' : (link_to user.teams.first.team_name, user.teams.first) %></td>
              <td><%= user.email %></td>
              <td><%= user.title.try(:downcase) %></td>
              <% if current_user.can_review_user(user.id) %>
                <td class="text-center">
                  <%= link_to new_employee_rating_path(user.id) , class: "text-primary" do %>
                  <i class="fa fa-plus"></i> new employee review
                  <% end %>
                </td>
              <% end %>
              <% if current_user.is_admin || current_user.is_officer? %>
                <td class="text-center">
                  <%= link_to edit_user_path(user), class: "margin-right-sm" do %>
                    <i class="fa fa-cog text-primary"></i>
                  <% end %>
                  <%= link_to user, method: :delete, data: { confirm: 'Are you sure?' } do %>
                    <i class="fa fa-trash text-danger"></i>
                  <% end %>
                </td>
              <% end %>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan="15"><em>There are no users to display for this access level.</em></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to new_user_path, class: "text-primary margin-bottom-md" do %>
      <i class="fa fa-plus"></i> new user
    <% end %>
  </div>
</div>
