<div class="row">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
    <h2 class="margin-bottom-md">new team rating</h2>

    <%#= form_for :user, url: team_rating_path, method: :patch do |one_review| %>
    <%= form_tag team_rating_path do %>

      <div class="row">
        <div class="col-xs-12">
          <%= select_tag :team_id, options_for_select(Team.all.collect { |t| [ t.team_name, t.id ] }, params[:team_id]), include_blank: "team name", class: "form-control margin-bottom-sm", required: true, id: "team_id" %>

          <%= select_tag :user_review, options_for_select(options_for_rate_period, Date.today.end_of_month), include_blank: "select rate period", class: "form-control margin-bottom-md", id: "rate_period" %>
        </div>
      </div>

      <hr>

      <% @user.each do |one_user| %>
        <% @review_items.each_with_index do |review_item, i| %>
          <%= fields_for "user_reviews[]", one_user do |review_form| %>
            <div class="row">
              <div class="col-xs-12">
                <%#= review_form.select :rate_period, options_for_rate_period, { prompt: 'select rate period' }, class: "form-control margin-bottom-md" %>
                <h4 class="text-primary"><%= review_item.name %></h4>
                <p><%= review_item.evaluation_criteria %></p>
                <%= hidden_field_tag "user_reviews[#{i}][review_item_id]", value: review_item.id %>
                <%= hidden_field_tag "user_reviews[#{i}][rate_period]", '', class: "rate_period" %>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12">
                <%= text_area_tag "user_reviews[#{i}][notes]", '', class: "form-control margin-bottom-md", placeholder: "notes", required: true%>
                <%= select_tag "user_reviews[#{i}][rating]", options_for_select(review_item.scale_min..review_item.scale_max), include_blank: "rating", class: "form-control margin-bottom-md", id: "rate_period" %>
                <%= hidden_field_tag "user_reviews[#{i}][rated_by_user_id]", current_user.id %>
                <%= hidden_field_tag "user_reviews[#{i}][is_team]", true %>
              </div>
            </div>
          <% end%>
          <hr>
        <% end %>

        <% if @bonus_items_by_role.any? %>
          <% counter = @review_items_by_role.count %>

          <% @bonus_items_by_role.each_with_index do |bonus_item_by_role, i| %>
            <%= fields_for "user_reviews[]", one_user do |bonus_form| %>
              <div class="row">
                <div class="col-xs-12">
                  <%= hidden_field_tag "user_reviews[#{i+counter}][review_items_by_role_id]", bonus_item_by_role.id %>
                  <%= hidden_field_tag "user_reviews[#{i+counter}][review_item_id]", bonus_item_by_role.review_item.id %>
                  <%= hidden_field_tag "user_reviews[#{i+counter}][rate_period]", Date.today.end_of_month, class: "rate_period" %>
                  <%= hidden_field_tag "user_reviews[#{i+counter}][rated_by_user_id]", current_user.id %>

                </div>
              </div>

            <% end%>
          <% end %>
        <% end %>

      <% end %>

      <div class="row">
        <div class="col-xs-12">
          <%= submit_tag "save", class: "btn btn-primary btn-center" %>
        </div>
      </div>

    <% end %>
  </div>
</div>

<script>
  $( document ).ready(function() {
    $('#rate_period').on('change', function () {
      var period = this.value;
      $(".rate_period").each(function () {
        this.value = period;
      });
    });
    $('select#team_id').on('change', function () {
      var url = $(this).val();
      if (url) {
        window.location = "?team_id="+url;
      }
      return false;
    });
  });
</script>