<div class="row">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
    <h2 class="margin-bottom-md">new team rating</h2>

    <%= form_for :user, url: team_rating_path, method: :patch do |one_review| %>

      <div class="row">
        <div class="col-xs-12">
          <%= select_tag :team_id, options_for_select(Team.all.collect { |t| [ t.team_name, t.id ] }, params[:team_id]), include_blank: "team name", class: "form-control margin-bottom-sm", required: true, id: "team_id" %>

          <%= select_tag :user_review, options_for_select(options_for_rate_period), include_blank: "select rate period", class: "form-control margin-bottom-md", id: "rate_period" %>
        </div>
      </div>

      <hr>

      <% @review_items.each do |review_item| %>
        <%= one_review.fields_for :user_reviews, @user.user_reviews.build do |review_form| %>
          <div class="row">
            <div class="col-xs-12">
              <%#= review_form.select :rate_period, options_for_rate_period, { prompt: 'select rate period' }, class: "form-control margin-bottom-md" %>
              <h4 class="text-primary"><%= review_item.name %></h4>
              <p><%= review_item.evaluation_criteria %></p>
              <%= review_form.hidden_field :review_item_id, value: review_item.id %>
              <%= review_form.hidden_field :rate_period, class: "rate_period" %>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12">
              <%= review_form.text_area :notes, class: "form-control margin-bottom-md", placeholder: "notes"%>
              <%= review_form.select :rating, (review_item.scale_min..review_item.scale_max), { include_blank: "rating" }, class: "form-control margin-bottom-sm" %>
              <%= review_form.hidden_field :rated_by_user_id, value: current_user.id %>
              <%= review_form.hidden_field :is_team, value: true %>
            </div>
          </div>
        <% end%>
        <hr>
      <% end%>

      <div class="row">
        <div class="col-xs-12">
          <%= one_review.submit "save", class: "btn btn-primary btn-center" %>
        </div>
      </div>

    <% end %>
  </div>
</div>

<script>
  $(function(){
    $('select#team_id').on('change', function () {
      var url = $(this).val();
      if (url) {
        window.location = "?team_id="+url;
      }
      return false;
    });
  });
</script>