<div class="row">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1">
    <div class="row">
      <div class="col-xs-6">
        <h2 class="margin-bottom-lg"><%= @user.full_name %></h2>
      </div>
      <!--<div class="col-xs-6">-->
        <%# if current_user.is_admin || (current_user.id == current_user.teams.first.try(:team_lead)) %>
          <%#= link_to new_employee_rating_path(@user.id) , class: "text-primary pull-right margin-top-md" do %>
            <!--<i class="fa fa-plus"></i> new employee review-->
          <%# end %>
        <%# end %>
      <!--</div>-->
    </div>

    <div class="row">
      <div class="col-xs-6">
        <% results1 = review_chart_results(@user_reviews) %>
        <% unless results1.blank? %>
          <div class="lead">General Performance</div>
          <%= line_chart results1 %>
          <div class="margin-bottom-lg"></div>
        <% end %>
      </div>
      <div class="col-xs-6">
        <% results2 = review_team_chart_results(@user) %>
        <% unless results2.blank? %>
          <div class="lead">Performance Compared to the Team</div>
          <%= line_chart results2 %>
          <div class="margin-bottom-lg"></div>
      <% end %>
      </div>
    </div>

    <%= render "teams/team_yearly_averages", month: ((Date.today - 1.month).end_of_month), teams: @team_list %>

    <hr>

    <table class="table table-striped table-hover table-bordered datatable">
      <thead>
      <tr>
        <th>month</th>
        <th class="text-center">average</th>
        <% headers = ReviewItem.where(is_weekly: false, is_monthly_bonus: false).order(:name).pluck(:display_name, :id) %>
        <% headers.each do |criteria| %>
          <th class="text-center"><%= criteria[0] %></th>
        <% end %>
        <th class="text-center no-sort">bonuses</th>
      </tr>
      </thead>

      <tbody>
        <% nope = false %>
        <% @rate_periods.each do |one_month| %>
          <% reviews =  @user_reviews.where(rate_period: one_month.to_datetime.end_of_month).where.not(rating: nil) %>
          <% nope = true if reviews.any? %>
          <% average = reviews.pluck(:rating) %>
          <% user_review = reviews.first %>
          <% bonus_totals = bonus_totals(reviews) %>
          <%#= user_review.inspect %>
          <% unless user_review.blank? %>
            <tr>
              <td><%= one_month %></td>
              <td class="text-center"><%= ((average.reduce(:+) / average.size.to_f).round(2)) + bonus_totals %></td>
              <% user_review.user_review_rows(headers, user_review.user.id, one_month.to_datetime.end_of_month).each do |one_row| %>
                <td class="text-center"><%= one_row[1].first %></td>
              <% end %>
              <td class="text-center">
                <% if bonus_totals > 0 %>
                  <%= bonus_totals %>
                  <!--<i class="fa fa-trophy text-primary" data-toggle="tooltip" title="Hooray!"></i>-->
                  <!--<i class="fa fa-shield text-info"></i>-->
                  <!--<i class="fa fa-certificate text-success"></i>-->
                  <!--<i class="fa fa-star text-warning"></i>-->
                <% end %>
              </td>
            </tr>
          <% end %>
        <% end %>
        <% if nope == false %>
          <tr>
            <td colspan="15"><em>There are no reviews to display for this employee.</em></td>
          </tr>
        <% end %>
      </tbody>
    </table>


    <%#= link_to 'Edit', edit_user_path(@user) %>
    <!--|-->
    <%#= link_to 'Back', users_path %>
  </div>
</div>
