<%= form_for(employee_reviewer) do |f| %>
  <% if employee_reviewer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee_reviewer.errors.count, "error") %> prohibited this employee_reviewer from being saved:</h2>

      <ul>
      <% employee_reviewer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.collection_select :employee_user_id, User.all.order(:first_name), :id, :full_name, { include_blank: "select employee" }, class: "form-control margin-bottom-md", autofocus: true %>
    <%= f.collection_select :reviewer_user_id, User.all.order(:first_name), :id, :full_name, { include_blank: "select reviewer" }, class: "form-control margin-bottom-md" %>


    <%= f.submit "save", class: "btn btn-primary btn-center" %>

<% end %>
