<% month = params[:rate_period] || current_month %>
<div class="row text-center">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <h2 class="text-center margin-bottom-lg">N6a Monthly Group Analysis</h2>

        <div class="row margin-bottom-lg">
          <div class="col-xs-12">
            <%= select_tag :rate_period, options_for_select(options_for_rate_period, month), include_blank: "Select Rate Period", class: "form-control", id: "rate_period" %>
          </div>
        </div>

        <hr class="margin-none">

        <div class="row">
          <div class="col-xs-12 gray-background">
            <h3>Bonuses</h3>
            <hr class="margin-none">

            <div class="row margin-bottom-lg">
              <div class="col-xs-4">
                <h3 class="margin-bottom-md text-primary">Group of <br>the Month</h3>
                <h4 class="margin-bottom-xs"><%= @group_of_the_month.team_name %></h4>
                <span>(<%= @gotm_score %>)</span>
              </div>

              <div class="col-xs-4">
                <h3 class="margin-bottom-md text-primary">Team of <br>the Month</h3>
                <h4><%= @team_of_the_month %></h4>
              </div>

              <div class="col-xs-4">
                <h3 class="margin-bottom-md text-primary">Producers of <br>the Week</h3>
                <% if @producers_of_the_week.blank? %>
                  <h4>No weekly producers have been selected for this month.</h4>
                <% else %>
                    <% @producers_of_the_week.each do |one_employee| %>
                        <h4><%= one_employee.full_name %></h4>
                    <% end %>
                <% end %>
              </div>
            </div>
          </div>

        <div class="col-xs-12 gray-background">
          <h3>Averages</h3>
          <hr class="margin-none">

          <div class="row margin-bottom-lg">
            <div class="col-xs-4">
              <h3 class="margin-bottom-md text-info">Average 6PA <br> Score by Level</h3>
              <% if @individual_by_level.blank? %>
                <h4>No data this month.</h4>
              <% else %>
                  <% @individual_by_level.each do |k,v| %>
                      <h4><%= k %>: <bold><%= v %></bold></h4>
                  <% end %>
              <% end %>
            </div>

            <div class="col-xs-4">
              <h3 class="margin-bottom-md text-info">Agency Performance & Variance</h3>
              <% puts 'teamvariance' %>
              <% puts @team_variance.inspect %>
              <% if @team_variance.blank? %>
                <h4>No data this month.</h4>
              <% else %>
                  <% @team_variance.each do |one_result| %>
                      <h4><%= one_result[0].titleize %>: <bold><%= one_result[1] %></bold></h4>
                  <% end %>
              <% end %>
            </div>


            <div class="col-xs-4">
              <h3 class="margin-bottom-md text-info">Highest KPI Category <br> by Level</h3>
              <% if @highest_by_level.blank? %>
                <h4>No data this month.</h4>
              <% else %>
                  <% @highest_by_level.each do |one_level| %>
                      <h4><%= one_level[0].titleize %>: <bold><%= one_level[1].first[0] %></bold> (<%= (one_level[1].first[1].to_f.nan? ? '--' : one_level[1].first[1]) %>) </h4>
                  <% end %>
              <% end %>
            </div>


            <div class="col-xs-4 col-xs-offset-4">
              <h3 class="margin-bottom-md text-info">Lowest KPI Category <br> by Level</h3>
              <%# puts 'lowestlevel' %>
              <%# puts @lowest_by_level.inspect %>
              <% if @lowest_by_level.blank? %>
                <h4>No data this month.</h4>
              <% else %>
                  <% @lowest_by_level.each do |one_level| %>
                      <h4><%= one_level[0].titleize %>: <bold><%= one_level[1].first[0] %></bold> (<%= (one_level[1].first[1].to_f.nan? ? '--' : one_level[1].first[1]) %>) </h4>
                  <% end %>
              <% end %>
            </div>
        </div>
      </div>



    </div>
  </div>
</div>


<script>
  $(function(){
    $('select#rate_period').on('change', function () {
      var url = $(this).val();
      if (url) {
        window.location = "?rate_period="+url.split('%')[0];
      }
      return false;
    });
  });
</script>