<%= form_for(review_items_by_role) do |f| %>
  <% if review_items_by_role.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review_items_by_role.errors.count, "error") %> prohibited this review_items_by_role from being saved:</h2>

      <ul>
      <% review_items_by_role.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.collection_select :review_item_id, ReviewItem.all.where(is_team: false).order(:display_name), :id, :display_name, { include_blank: "select review label" }, class: "form-control margin-bottom-md", autofocus: true %>
  <%= f.collection_select :form_role_id, FormRole.all, :id, :role, { include_blank: "select form type" }, class: "form-control margin-bottom-md" %>


  <%= f.text_field :short_label, class: "form-control margin-bottom-md", placeholder: "short label"%>
  <%= f.text_area :evaluation_criteria, class: "form-control margin-bottom-md", placeholder: "evaluation criteria" %>

  <%= f.submit "save", class: "btn btn-primary btn-center" %>

<% end %>
