<% color = ENV['HEROKU_DEV_COLOR'] %>
<!DOCTYPE html>
<html>
  <head>
    <title>N6a</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav style="background-color: <%=color%>;" class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to root_path, class: "navbar-brand" do %>
          <%= image_tag "n6a-logo.png" %>
        <% end %>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <% if current_user %>
            <li>
              <%= link_to 'home', root_path %>
            </li>
            <% if current_user.is_officer? || (current_user.id == 1) %>
              <li>
                <%= link_to 'employees', users_path %>
              </li>
              <li>
                <%= link_to 'teams', teams_path %>
              </li>
              <li>
                <%= link_to 'employee team setup', employee_teams_path %>
              </li>
              <li>
                <%= link_to 'employee reviewer setup', employee_reviewers_path %>
              </li>
              <li>
                <%= link_to 'form setup', review_items_by_roles_path %>
              </li>
              <li>
                <%= link_to 'review teams', new_team_rating_path %>
              </li>
              <!--<li>-->
                <!--<%#= link_to 'rate employees', employees_with_pending_reviews_path %>-->
              <!--</li>-->
            <% end %>
            <% if current_user.id == 1 %>
              <li>
                <%= link_to 'user reviews', user_reviews_path %>
              </li>
            <% end %>
            <% if (current_user.id == current_user.teams.first.try(:team_lead)) || ((current_user.can_review_users.any?) && !current_user.is_officer?) %>
              <li>
                <%= link_to 'employees', users_path %>
              </li>
            <% end %>
            <% if current_user.teams.any? %>
              <li>
                <%= link_to 'my team', team_path(current_user.teams.first) %>
              </li>
            <% end %>
            <li>
              <%= link_to 'monthly analysis', monthly_analysis_path %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <!--<i class="fa fa-sign-out"></i> -->
                log out
              <% end %>
            </li>
          <% end%>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>




    <% unless flash.empty? %>
      <script type="text/javascript">
        <% flash.each do |f| %>
        <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
        toastr['<%= type %>']('<%= f[1] %>');
        <% end %>
      </script>
    <% end %>

    <div class="container-fluid margin-bottom-lg">
      <%= yield %>
    </div>

  </body>
</html>
